#gdpr-cookie-message {
    position: fixed;
    right: 50px;
    bottom: 50px;
    max-width: 550px;
    background-color: #54A0BE;
    padding: 40px;
    border-radius: 7px;
    box-shadow: 0 6px 6px rgba(0,0,0,0.25);
    margin-left: 50px;
    font-family: system-ui;
}
#gdpr-cookie-message h4 {
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 23px;
}
#gdpr-cookie-message h5 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
#gdpr-cookie-message p, #gdpr-cookie-message ul {
    color: white;
    font-size: 18px;
    line-height: 30px;
}
#gdpr-cookie-message p:last-child {
    margin-top: 15px;
    margin-bottom: 0;
    text-align: right;
}
#gdpr-cookie-message li {
    width: 49%;
    display: inline-block;
}
#gdpr-cookie-message a {
    color: #683C14;
    text-decoration: none;
    display: block;
    font-size: 18px;
    transition: all 0.3s ease-in;
}
#gdpr-cookie-message a:hover {
    color: #ffffff;
}
#gdpr-cookie-message button,
button#ihavecookiesBtn {
    border: none;
    background: #683C14;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    padding: 6px 22px;
    border-radius: 3px;
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
#gdpr-cookie-message button:hover {
    background: white;
    color: #683C14;
    transition: all 0.3s ease-in;
}
button#gdpr-cookie-advanced {
    background: white;
    color: #683C14;
}
#gdpr-cookie-message button:disabled {
    opacity: 0.3;
}
#gdpr-cookie-message input[type="checkbox"] {
    float: none;
    margin-top: 0;
    margin-right: 5px;
}

@media (max-width: 767px) {
    #gdpr-cookie-message {
        position: fixed;
        right: 25px;
        bottom: 25px;
        width: auto;
        padding: 25px;
        border-radius: 7px;
        margin-left: 25px;
    }
    #gdpr-cookie-message h4 {
        font-size: 22px;
    }
    #gdpr-cookie-message p,
    #gdpr-cookie-message ul {
        line-height: 22px;
    }
    #gdpr-cookie-message h5,
    #gdpr-cookie-message p,
    #gdpr-cookie-message ul,
    #gdpr-cookie-message a,
    #gdpr-cookie-message button,
    button#ihavecookiesBtn {
        font-size: 15px;
    }
}

@media (max-width: 380px) {
    #gdpr-cookie-message #gdpr-cookie-accept {
        margin-bottom: 5px;
    }
    #gdpr-cookie-message #gdpr-cookie-accept,
    #gdpr-cookie-message #gdpr-cookie-advanced {
        width: 100%;
        margin-left: 0;
    }
    #gdpr-cookie-message h4 {
        font-size: 18px;
    }
    #gdpr-cookie-message p,
    #gdpr-cookie-message ul {
        line-height: 18px;
    }
    #gdpr-cookie-message h5,
    #gdpr-cookie-message p,
    #gdpr-cookie-message ul,
    #gdpr-cookie-message a,
    #gdpr-cookie-message button,
    button#ihavecookiesBtn {
        font-size: 13px;
    }
}